<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>Search{% if query %} Results{% endif %}</title>
</head>
<body>
    <h1>Search</h1>
    <p>Seach the depository in "name", "SMILES" and "summary formula" fields.</p>
    <table>
        <tbody>
            <tr>
                <td>
                    <form action="." method="GET">
                        <label for="q">Search: </label>
                        <input type="text" name="q" value="{{ query|escape }}">
                        <input type="submit" value="Search">
                    </form>
                </td>
                <td></td>
                <td>
                    <form action="." method="GET">
                        <input type="hidden" name="q" value="all">
                        <input type="submit" value="View all">
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    
    {% if query %}
        <h2>Results for "{{ query|escape }}":</h2>
        
        {% if results %}
            <table cellspacing=5, title="Database search results:">
            <thead>
                <tr align=left>
                    <th>select</th>
                    <th>id</th>
                    <th>name</th>
                    <th>picture</th>
                    <th>summary formula</th>
                    <th>mol. weight</th>
                    <th>timestamp</th>
                    <th>SMILES</th></tr>
            </thead>    
            <tbody>
            {% for mol in results %}
                <tr>
                      <td>
                            <input form="save_search_results" type="checkbox" name="selected_mols" value="{{ mol.id }}" /></td>
                      <td>X-{{ mol.id }}</td>
                      <td>{{ mol.name }}</td>
                      <td><img src="structures/{{mol.id}}" height="100" width="100"></td>
                      <td>{{ mol.summary_formula }}</td>
                      <td>{{ mol.mol_weight }}
                      <td>{{ mol.timestamp }}</td>
                      <td style="font-size: 50%">{{ mol.smiles }}</td>
                      <!--td>{{ mol.pic }}</td-->
                </tr>
            {% endfor %}
               
            </tbody>
            </table>
            
            <form id="save_search_results" action="export_search_results" method="POST">{% csrf_token %}
            <input type="submit" value="Save selected as SDF">
            <input type="button" value="Save all search results as SDF">
            </form>

            
        {% else %}
            <p>No molecules found</p>
        {% endif %}
    {% endif %}

<p></p>
<a href="..">Back to the mainpage</a>    
</body>
</html>